* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

nav {
  background: linear-gradient(#fff, #010127);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-item {
  list-style: none;
}

main {
  background: #010127;
  border: #010127;
  margin-top: -1%;
}

main image {
  width: 60%;
}

footer {
  background: linear-gradient(#010127, #fff);
  display: flex;
  width: 100%;
}

.footerItems {
  justify-content: space-around;
  color: black;
  align-items: center;
  text-align: center;
  margin-top: 5%;
  width: 33.33%;
}

/* ===================Media Querys=================== */
@media only screen and (max-width: 680px) {
  header {
    width: 100%;
  }
}
