*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}

header{
    background: linear-gradient(#010127,#fff);
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;

}

footer{
    background: linear-gradient(#fff,#010127);}

